.mammals {
    background-color: purple;
}

.birds {
    background-color: green;
}

.reptiles {
    background-color: blue;
}

.amphibians {
    background-color: orange;
}

.fish {
    background-color: pink;
}